.popup__container {
  border-radius: 10px;
  padding: 34px 36px 37px;
  max-width: 358px;
  width: 100%;
  background-color: #FFFFFF;
  color: #000000;
  position: relative;
}
@media (max-width: 320px) {
  .popup__container  {
    width: 238px;
    padding: 25px 22px;
  }
}